<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/default.css")" rel="stylesheet" type="text/css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>      window.jQuery || document.write('<script src="Scripts/jquery-1.7.2.min.js"><\/script>')</script>
    @RenderSection("HeaderScripts", false)
</head>
<body>
    <div class="page">
        <header>
            <div id="title">
                <h1>@ViewBag.H1</h1>
            </div>  
        </header>
        <section id="main">
            @RenderBody()
        </section>
        <footer>        
        </footer>
    </div>
</body>
</html>