@model MiniMe.Models.Link

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Link</legend>

    <div class="display-label">DateCreated</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DateCreated)
    </div>

    <div class="display-label">ShortCode</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ShortCode)
    </div>

    <div class="display-label">DestinationUrl</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DestinationUrl)
    </div>

    <div class="display-label">AccessCount</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.AccessCount)
    </div>

    <div class="display-label">LastAccessed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastAccessed)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.LinkID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
